.animated-landing-title {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  /* opacity: 0.08; */
  filter: blur(5px);
  animation: blur_reduce 0.3s linear 0.2s;
  animation-fill-mode: forwards;
}
@keyframes opacity_anim {
  from {
    opacity: 0.08;
  }
  to {
    opacity: 1;
  }
}
.main-title {
  font-size: 65px;
  font-family: var(--haloc);
  text-transform: uppercase;
  text-decoration-color: var(--spec-color);
  margin-left: -30px;
  padding-left: 5px;
  padding-right: 5px;
  animation-fill-mode: forwards;
}

@keyframes blur_reduce {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0px);
  }
}
.going-live-time-delta {
  font-size: 11rem;
  color: var(--spec-color);
  font-family: var(--haloc);
}

@media only screen and (max-width: 1000px) {
  .going-live-time-delta {
    font-size: 8rem;
  }
}
@media only screen and (max-width: 675px) {
  .main-title {
    font-size: 48px;
    margin: 30px;
  }
  .front-logo {
    display: none;
  }

  .going-live-time-delta {
    font-size: 65px;

    margin-top: 10px;
  }
}
.goes-live {
  color: var(--font-color);
  font-size: 35px;
}
.action-button,
.landing-action-button {
  margin: 10px;
  user-select: none;
  padding: 8px;
  width: 10rem;
  background: transparent;
  color: var(--font-color);
  border-radius: 7px;
  outline: none;
  border: 1px solid var(--spec-color);
  font-size: 22px;
  transition: 0.3s linear;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.action-button:hover,
.action-button:active,
.action-button:focus,
.landing-action-button:hover,
.landing-action-button:active,
.landing-action-button:focus {
  filter: grayscale(1);
}
