.animated-landing-title {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  opacity: 0.08;
  animation: opacity_anim 0.6s linear 0.2s;
  animation-fill-mode: forwards;
}
@keyframes opacity_anim {
  from {
    opacity: 0.08;
  }
  to {
    opacity: 1;
  }
}
.main-title {
  font-size: 65px;
  font-family: var(--time-delta-font);
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: var(--spec-color);
}

.going-live-time-delta {
  font-size: 90px;
  color: var(--spec-color);
  font-family: var(--time-delta-font), sans-serif;
}

@media only screen and (max-width: 675px) {
  .main-title {
    font-size: 48px;
    margin: 30px;
  }
  .front-logo {
    display: none;
  }

  .going-live-time-delta {
    font-size: 65px;

    margin-top: 10px;
  }
}
.goes-live {
  color: var(--font-color);
  font-size: 35px;
}
.landing-action-button {
  margin: 10px;
  display: inline-block;
  padding: 8px;
  width: 150px;
  background: transparent;
  color: var(--font-color);
  border-radius: 7px;
  outline: none;
  border: 1px solid var(--spec-color);
  font-size: 22px;
  transition: 0.3s linear;
}
.landing-action-button:hover,
.landing-action-button:active,
.landing-action-button:focus {
  filter: grayscale(1);
}
