/*#51b07a*/

.admin-data-panel {
  --admin-color: #51b07a;
  --btn-act-color: #6f70ee;
}

.btn-box {
  display: flex;
}

.admin-button-tab {
  flex: 1;
  padding: 8px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-weight: bold;
  margin: 4px;
  background: var(--background-color);
  color: #fff;
  border: 2px solid var(--spec-color);
}

.btn-act {
  display: block;
  background-color: var(--btn-act-color);
  margin: auto;
  margin-top: 25px;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.last-question-card {
  border: 1px solid var(--font-color);
  width: 80%;
  margin: auto;
  padding: 23px;
  border-radius: 10px;
}

.last-q {
  font-size: 1.2rem;
  margin-top: 20px;
  width: fit-content;
}

.input-parent {
  width: 50%;
  margin: auto auto 20px;
}

.back {
  height: 40px;
  transform: rotate(180deg);
  user-select: none;
}
.plus {
  border: 2px solid var(--spec-color);
  height: 40px;
  user-select: none;
  border-radius: 50%;
}

.hints-parent-admin {
  margin-top: 10px;
  margin-bottom: 10px;
}

hr {
  border-color: var(--spec-color);
}

.task-desc {
  font-size: 2rem;
}

.question-parent {
  padding-bottom: 20px;
}

.edit-q {
  width: fit-content;
  padding: 20px;
}

.act {
  width: fit-content;
}
.search-box {
  width: 60%;
  margin: auto;
}

.search-result-element {
  display: inline-block;
  border: 2px solid var(--spec-color);
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.admin-log-renderer {
  transition: 0.3s linear;
  opacity: 0;
}

.admin-log-renderer.has-content {
  opacity: 1;
}
.act-btn-container {
  display: flex;
  margin: auto;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logtype {
  padding: 1rem;
}
.logtype.active {
  filter: grayscale(1);
}

.log-entry {
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  transition: 0.3s linear;
}

.ts {
  margin-left: 0.8rem;
}

.break-word {
  word-break: break-word;
}

.answer-status {
  margin-right: 1rem;
}

.flx-end {
  display: inline-flex;
  flex: 1;
  justify-content: flex-end;
}
@media only screen and (max-width: 800px) {
  .ts {
    margin-left: unset;
  }
  .log-entry {
    flex-direction: column;
  }
}
.hl-entry {
  --spec-color: var(--admin-color);
}
