/*#51b07a*/

.admin-data-panel {
  --admin-color: #51b07a;
  --btn-act-color: #6f70ee;
}

.btn-box {
  display: flex;
}

.admin-button-tab {
  flex: 1;
  padding: 8px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-weight: bold;
  margin: 4px;
  background: var(--background-color);
  color: #fff;
  border: 2px solid var(--spec-color);
}

.btn-act {
  display: block;
  background-color: var(--btn-act-color);
  margin: auto;
  margin-top: 25px;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.last-question-card {
  border: 1px solid var(--font-color);
  width: 80%;
  margin: auto;
  padding: 23px;
  border-radius: 10px;
}

.last-q {
  font-size: 1.2rem;
  margin-top: 20px;
  width: fit-content;
}

.input-parent {
  width: 50%;
  margin: auto auto 20px;
}

.back {
  height: 40px;
  transform: rotate(180deg);
  user-select: none;
}
.plus {
  border: 2px solid var(--spec-color);
  height: 40px;
  user-select: none;
  border-radius: 50%;
}

.hints-parent-admin {
  margin-top: 10px;
  margin-bottom: 10px;
}

hr {
  border-color: var(--spec-color);
}

.task-desc {
  font-size: 2rem;
}

.question-parent {
  padding-bottom: 20px;
}

.edit-q {
  width: fit-content;
  padding: 20px;
}

.search-box {
  width: 60%;
  margin: auto;
}
