.orange-box {
  margin-left: 5vw;
  margin-right: 5vw;

  border: 3px solid var(--spec-color);
  padding: 20px;
  font-size: 50vw;
}

.list-element-rule {
  text-align: left;
  font-size: 20px;
}

.rules-heading {
  font-size: 5vw;
}
