.mask {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #303030;
  z-index: 10;
  opacity: 0.8;
  margin: auto;
}

.swipeable-menu-container {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  bottom: -1000px;
  background-color: #000;
  border-top-right-radius: 10px;
  border: none;
  border-top-left-radius: 10px;
  height: fit-content;
  transition: 0.3s linear;
  z-index: 20;
  opacity: 0;
}

.swipeable-menu-container.expanded {
  bottom: 0;
  animation: opacity_anim 0.6s linear 0.1s;
  animation-fill-mode: forwards;
}

.app-routes-mob {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: center;
}

.social-links-mob {
  text-align: center;
  margin-top: 20px;
  display: grid;
}

.halocrypt-text {
  margin: auto;
  font-size: 35px;
  text-decoration: underline;
}

.hamburger-menu {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHdpZHRoPSIyNCI+PHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjxwYXRoIGQ9Ik0zIDE4aDE4di0ySDN2MnptMC01aDE4di0ySDN2MnptMC03djJoMThWNkgzeiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==);
  height: 24px;
  width: 24px;
  position: fixed;
  left: 10px;
  top: 10px;
}

.powered-by {
  font-family: Aquire;
  color: var(--spec-color);
  font-size: 22px;
}
.powered-by-box {
  margin-top: 10px;
}
