.prof-data-box {
  text-align: left;
  /* margin-top: 10px; */
}

.prof-container {
  margin: 30px;
  border-bottom: 2px solid var(--spec-color);
}

.prof-field {
  font-size: 1.5rem;
}

.action-buttons-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-info-updater {
  height: fit-content;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
.update-action {
  padding: 2px;
}
